body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #977777;
    color: #333;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #005bb5;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #003d80;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.section {
    margin: 20px 0;
    background-color: #e6f2ff;
    padding: 20px;
    border-radius: 5px;
}

.section h2 {
    color: #0073e6;
}

footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #005bb5;
}
